# Errors in Python

There are many errors that one may encounter in a python program. But genrally which errors occure are (for Python Basic only) :-

    1.Syntax Error
    2.Indentation Error
    3.Type Error
    4.Name Error
    5.Zero Division Error
    6.Index Error
    7.Runtie Error
    8.Attribute Error

## Syntax Error

When we write something gramatically wrong according to the code language we encounter syntx error.

In [ ]:
print(hello world)

SyntaxError: invalid syntax (<ipython-input-2-c420ee852e2a>, line 1)

In [ ]:
3 + = 1

SyntaxError: invalid syntax (<ipython-input-3-b8580c36d5df>, line 1)

In [ ]:
5 +

SyntaxError: invalid syntax (<ipython-input-4-c4bc01ddd04c>, line 1)

In [ ]:
print("Hello)

SyntaxError: EOL while scanning string literal (<ipython-input-5-e8dd6fae58d9>, line 1)

In [ ]:
 print "hello"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("hello")? (<ipython-input-6-2a0eaa89f43f>, line 1)

## Indentation Error

In python we on not use curly braces to separate different blocks of programm therefore we use

In [ ]:
for i in range(5):
print("hello")

IndentationError: expected an indented block (<ipython-input-8-f5189631f89f>, line 2)

## Type Error

Occures when we try to perform operations on objects of different datatypes.

In [ ]:
'2' + 2

TypeError: can only concatenate str (not "int") to str

Name Error

Occures when object cannot be found

In [ ]:
age

NameError: name 'age' is not defined

## Zero Division Error

In [ ]:
x = 100/0

ZeroDivisionError: division by zero

## Index Error

In [ ]:
l = [1,2,3]

In [ ]:
l[3]

IndexError: list index out of range

## Runtime Error

If program is free of syntax error, it will be run by the interpreter, however if program may exit without proper execution a runtime or logical error may have been encountered

## Attribute Error

In [ ]:
x = 5

In [ ]:
x.append(6)

AttributeError: 'int' object has no attribute 'append'

In [ ]:
a = [5,6] # In this way we can although change type

In [ ]:
a

[5, 6]

## Value Error

In [ ]:
int('xyz') # Converting a non convertible

ValueError: invalid literal for int() with base 10: 'xyz'

In [ ]:
int('123')

123

## Import Error

In [ ]:
from math import cube

ImportError: cannot import name 'cube' from 'math' (unknown location)

## Module Error

In [ ]:
import notamodule

ModuleNotFoundError: No module named 'notamodule'

# Error/Exception Handling

Syntax :-

    try :
        #Statements in try to block
        
    except :
        #executed when error in try block

In [ ]:
try :
    a = 5
    b = 0
    print(a/b)
    
except:
    print("Some error occured")
    
print("Program terminated")

Some error occured
Program terminated

In [ ]:
try :
    a = 5
    b = 0
    print(a/b)

except TypeError:
    print('Unsupported operation')
    
except ZeroDivisionError:
    print ('Division by zero not allowed')
    
print ('Program Terminated')

Division by zero not allowed
Program Terminated

In [ ]:
try :
    a = 5
    b = '0'
    print(a/b)

except TypeError:
    print('Unsupported operation')
    
except ZeroDivisionError:
    print ('Division by zero not allowed')
    
print ('Program Terminated')

Unsupported operation
Program Terminated

try:
    #statements in try block
except:
    #executed when error in try block
else:
    #executed if try block is error-free
finally:
    #executed irrespective of exception occured or not

In [ ]:
try:
    print("try block")
    x=int(input('Enter a number: '))
    y=int(input('Enter another number: '))
    z=x/y
except ZeroDivisionError:
    print("except ZeroDivisionError block")
    print("Division by 0 not accepted")
else:
    print("else block")
    print("Division = ", z)
finally:
    print("finally block")
    x=0
    y=0
print ("Out of try, except, else and finally blocks." )

try block
Enter a number: 4
Enter another number: 0
except ZeroDivisionError block
Division by 0 not accepted
finally block
Out of try, except, else and finally blocks.

In [ ]:
try:
    x=int(input('Enter a number upto 100: '))
    if x > 100:
        raise ValueError(x) #Raises Error
except ValueError:
    print(x, "is out of allowed range")
else:
    print(x, "is within the allowed range")

Enter a number upto 100: 101
101 is out of allowed range